[Unit]
Description=Minecraft Server
After=network.target

[Service]
User=minecraft
Nice=1
ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
WorkingDirectory=/opt/minecraft/server
KillMode=process
KillSignal=SIGINT
SuccessExitStatus=130
ExecStart=/usr/bin/java -Xmx1024M -Xms512M -jar server.jar nogui

[Install]
WantedBy=multi-user.target