[Unit]
Description=Minecraft Server
After=docker.service
Requires=docker.service

[Service]
KillMode=process
KillSignal=SIGINT
SuccessExitStatus=143
TimeoutStartSec=0
Restart=no
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull coryleeio/minecraft:latest
ExecStart=/usr/bin/docker run --init --user 1000 --rm --name %n \
    -v /opt/minecraft:/opt/minecraft \
    -p 0.0.0.0:1337:25565 \
    coryleeio/minecraft:latest
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=default.target
